<div id="sidebar-wrap" ng-controller="NavCtrl">
  <accordion close-others="oneAtTime" slimscroll="{height: '100%'}">

    <accordion-group is-open="status.isFirstOpen" ng-class="{'open': status.isFirstOpen, 'closed': !status.isFirstOpen}">
      <accordion-heading>
        Navigation <i class="fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
      </accordion-heading>
      <ul id="navigation" nav-collapse ripple>        
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.equipe')}">
          <a ui-sref="app.equipe"><fa name="users"></fa> <span>Equipes</span></a>
          <ul>
            <li ui-sref-active="active">
              <a ui-sref="app.equipe.usuarios">
                <fa name="caret-right"></fa> Usuários
              </a>
            </li>
          </ul>
        </li>
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.atividade')}">
          <a ui-sref="app.atividade"><fa name="list"></fa> <span>Atividades</span></a>
          <ul>
            <li ui-sref-active="active">
              <a ui-sref="app.calendario">
                <fa name="caret-right"></fa> Calendário
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="app.tarefa">
                <fa name="caret-right"></fa> Tarefas
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="app.local">
                <fa name="caret-right"></fa> Locais
              </a>
            </li>
          </ul>
        </li>
    </accordion-group>

  </accordion>
</div>
