<div class="page page-dashboard">
  <div class="pageheader">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a href="#">Dashboard</a>
        </li>
      </ul>
      <div ng-controller="DaterangepickerCtrl" class="page-toolbar">
        <a href="javascript:;" class="btn btn-lightred no-border" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
          <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- END PAGE HEADER -->

  <div class=˜row˜>
    <!-- card 1-->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-greensea">
          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">3 659</p>
              <span>Onlines</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->
        </div>
        </div>
      </div>

    <!--card 2 -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-lightred">
          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-bullseye fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">3 659</p>
              <span>Cadastrados</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->
        </div>
        </div>
      </div>

      <!-- card 3 -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-blue">
          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-check-square-o fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">3 659</p>
              <span>Finalizada</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->
        </div>
        </div>
      </div>

      <!-- card 4-->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-slategray">
          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-eye fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">3 659</p>
              <span>Check-in</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->
        </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-8">
          <div ng-controller="PillsDemoCtrl">
            <tabset justified="true" type="pills">
              <tab heading="Tarefas">Tarefas</tab>
              <tab heading="Sinais Vitais">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen04">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Ordered </strong>Chart</h1>
            <ul class="controls">
              <li class="dropdown" dropdown on-toggle="toggled(open)">

                <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="ajaxFaker()">
                      <fa name="refresh"></fa> Refresh
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen04 = !isFullscreen04">
                      <fa name="expand"></fa> Fullscreen
                    </a>
                  </li>

                </ul>

              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body" ng-controller="OrderedChartCtrl">

            <flot dataset="dataset" options="options" height="250px"></flot>

          </div>
          <!-- /tile body -->

        </section>
              </tab>
            </tabset>
          </div>
        </div>
        <div class="col-md-4">
            <section class="tile bg-greensea widget-appointments" fullscreen="isFullscreen10" ng-controller="AppointmentsWidgetCtrl">
              <!-- tile header -->
              <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">Appointments</h1>
              </div>
              <!-- /tile header -->
              <!-- tile body -->
              <div class="tile-body">
                <!-- row -->
                <div class="row">
                  <!-- col -->
                  <div class="col-md-6 text-center">
                    <h4 class="text-light">Bratislava</h4>
                    <clock radius="60"></clock>
                    <span class="text-light">30&deg;C</span>
                  </div>
                  <!-- /col -->
                  <!-- col -->
                  <div class="col-md-6 b-l text-center">
                    <span class="day">{{date | date:'dd'}}</span><br/>
                    <span class="month">{{date | date:'MMMM'}}</span>
                  </div>
                  <!-- /col -->
                </div>
                <!-- /row -->
              </div>
              <!-- /tile body -->
              <!-- tile footer -->
              <div class="tile-footer dvd dvd-top mt-20">
                TESTE
              </div>
              <!-- /tile footer -->
            </section>
        </div>
      </div>

      <!-- END CALENDARIO -->
      <div class="row">

        <div class="col-md-6">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen01" ng-controller="ProgressDemoCtrl">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Tempos</strong> operacionais</h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen13">

          
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body" ng-controller="EasypiechartCtrl">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-md-3 text-center">
                <div easypiechart options="easypiechart.options" percent="easypiechart.percent" class="easypiechart" style="width: 180px; height: 180px;">
                  <span class="pie-percent custom-font" ng-bind="easypiechart.percent" style="line-height: 170px;"></span>
                </div>
              </div>
              
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <!-- /tile body -->

        </section>
          </div>
          <!-- /tile body -->
        </section>   
        </div>

        <div class="col-md-6">
          <!-- tile -->
          <section class="tile" fullscreen="isFullscreen01" ng-controller="ProgressDemoCtrl">
            <!-- tile header -->
            <div class="tile-header dvd dvd-btm">
              <h1 class="custom-font"><strong>Últimas</strong> atividades</h1>
            </div>
            <!-- /tile header -->
            <!-- tile body -->
            <div class="tile-body">
                <table class="table table-stripped">
                  <tr>
                    <th>Teste</th>
                    <th>Teste</th>
                  </tr>
                  <tr>
                    <td>Teste</td>
                    <td>Teste</td>
                  </tr>
                </table>
            </div>
            <!-- /tile body -->
          </section>
        </div>
      </div>
      </div>
  </div>

</div>