<div class="page page-dashboard">
  <div class="pageheader">

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a href="#">{{main.title}}</a>
        </li>

      <div ng-controller="DaterangepickerCtrl" class="page-toolbar">
        <a href="javascript:;" class="btn btn-lightred no-border" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
          <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
        </a>
      </div>

    </div>

  </div>

<div class="row">  
<div class="col-md-4">
  <div class="row" style="width:300px">
    <div ng-controller="PillsDemoCtrl">
      <tabset justified="true" type="pills">
        <tab heading="Tarefas">Tarefas</tab>
        <tab heading="Sinais Vitais">Tarefa</tab>
      </tabset>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="row" style="width:300px">

  </div>
</div>

      <div class="col-md-4">
        <!-- tile -->
        <section class="tile bg-greensea widget-appointments" fullscreen="isFullscreen10" ng-controller="AppointmentsWidgetCtrl">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font">Appointments</h1>
            <ul class="controls">
              <li class="dropdown" dropdown on-toggle="toggled(open)">

                <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="ajaxFaker()">
                      <fa name="refresh"></fa> Refresh
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen10 = !isFullscreen10">
                      <fa name="expand"></fa> Fullscreen
                    </a>
                  </li>

                </ul>

              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-md-6 text-center">

                <h4 class="text-light">Bratislava</h4>
                <clock radius="60"></clock>
                <span class="text-light">30&deg;C</span>

              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-md-6 b-l text-center">
                <span class="day">{{date | date:'dd'}}</span><br/>
                <span class="month">{{date | date:'MMMM'}}</span>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
          <!-- /tile body -->

          <!-- tile footer -->
          <div class="tile-footer dvd dvd-top mt-20">

            <wrap-owlcarousel class="owl-carousel" data-options="{
            autoPlay: 5000,
            stopOnHover: true,
            slideSpeed : 300,
            paginationSpeed : 400,
            navigation: true,
            navigationText : ['<i class=\'fa fa-chevron-left\'></i>','<i class=\'fa fa-chevron-right\'></i>'],
            singleItem : true}">

              <div>
                <p class="text-center text-strong"><i class="fa fa-clock-o"></i> 16:00, <small class="text-thin">Estimated time: 2 hours</small></p>
                <p>
                  <h5 class="mt-10 mb-0 text-strong">Release Update</h5>
                  <small class="text-thin text-transparent-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</small>
                </p>
              </div>

              <div>
                <p class="text-center text-strong"><i class="fa fa-clock-o"></i> 19:00, <small class="text-thin">Estimated time: 5 hours</small></p>
                <p>
                  <h5 class="mt-10 mb-0 text-strong">Make a Backup</h5>
                  <small class="text-thin text-transparent-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</small>
                </p>
              </div>

              <div>
                <p class="text-center text-strong"><i class="fa fa-clock-o"></i> 22:45, <small class="text-thin">Estimated time: 8 hours 45 minutes</small></p>
                <p>
                  <h5 class="mt-10 mb-0 text-strong">Buy Tickets</h5>
                  <small class="text-thin text-transparent-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</small>
                </p>
              </div>

            </wrap-owlcarousel>

          </div>
          <!-- /tile footer -->

        </section>
        <!-- /tile -->
      </div>

      <div class="col-md-6">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen01" ng-controller="ProgressDemoCtrl">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Progress</strong> Bars</h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
              skdasdij
          </div>
          <!-- /tile body -->
        </section>
      </div>
      <div class="col-md-6">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen01" ng-controller="ProgressDemoCtrl">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Últimas</strong> atividades</h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
              <table class="table table-stripped">
                <tr>
                  <th>Teste</th>
                  <th>Teste</th>
                </tr>
                <tr>
                  <td>Teste</td>
                  <td>Teste</td>
                </tr>
              </table>
          </div>
          <!-- /tile body -->
        </section>
      </div>
</div>
