<div class="page page-dashboard">
  <div class="pageheader">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a href="#">Atividades</a>

        </li>
      </ul>
      Calendário
      <input type="text" id="busca" placeholder="Busca" style="width:110px;margin-left:400px">  
      <div ng-controller="DaterangepickerCtrl" class="page-toolbar">
        <a href="javascript:;" class="btn btn-lightred no-border" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
          <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
        </a>
      </div>
    </div>
</div>


<div class="page page-full page-calendar">

  <div ng-controller="ModalDemoCtrl">
    <button type="button" class="btn btn-cyan mb-14" ng-click="open('lg')">Nova Tarefa</button>
  <button type="button" class="btn btn-blue mb-14">Importar</button>
  <button type="button" class="btn btn-default mb-14">Exportar</button>
  </div>
  <hr>
  <div class="tbox tbox-sm">


    <div class="tcol w-lg bg-tr-white lt b-r">

      <div class="p-15 bg-white">
<!--         <button type="button" class="btn btn-greensea btn-xs mb-10 pull-right b-0" ng-click="addEvent()" tooltip="Doule-click to calendar day to add event" tooltip-placement="bottom"><i class="fa fa-plus"></i></button> -->
        <h4 class="custom-font text-default m-0">Em Aberto <span class="badge bg-red">1</span></h4>
      </div>

      <div class="p-15" ng-controller="EquipeUsuariosCtrl">
        <section class="tile" fullscreen="isFullscreen01">
          <table ng-table="tableParams" class="table table-custom">
            <tr ng-repeat="usuario in usuarios">
              <td data-title="'Status'" sortable="'name'">{{usuario.status}}</td>
              <td data-title="'Grupo'" sortable="'name'">{{usuario.grupo}}</td>
            </tr>
          </table>
      </section>
      </div>


    </div>

    <div class="tcol">
      <div class="p-15 bg-white">

        <div class="pull-right">

          <button type="button" class="btn btn-sm btn-default" ng-click="today()">today</button>

          <div class="btn-group">
            <button class="btn btn-default btn-sm" ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
            <button class="btn btn-default btn-sm" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
            <button class="btn btn-default btn-sm" ng-click="changeView('month', 'myCalendar1')">Month</button>
          </div>

        </div>

        <h4 class="custom-font text-default m-0">Calendar</h4>

      </div>

      <div class="p-15">

        <div class="fc-overlay">
          <div class="panel b-solid">
            <h4 class="text-light mt-0">{{event.title}}</h4>
            <div class="b-b b-solid mb-10"></div>
            <div class="text-muted"><i class="icon-calendar mr-5"></i> {{event.start | date:'medium'}}</div>
            <div class="text-muted" ng-show='event.end'><i class="icon-clock mr-5"></i> {{event.end | date:'medium'}}</div>
            <div class="text-muted" ng-show='event.location'><i class="icon-pointer mr-5"></i> {{event.location}}</div>
            <div class="mt-10">{{event.info}}</div>
            <div class="mt-10">{{event.url}}</div>
          </div>
        </div>

        <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>


      </div>

    </div>

  </div>


</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title custom-font">Tarefa #{{165453}}</h3>
  </div>
  <div class="modal-body">
     <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-2 control-label">Grupo*</label>
          <div class="col-sm-10">
            <select multiple chosen="{width: '240px'}">
              <option value="AK">Alaska</option>
              <option value="HI">Hawaii</option>
              <option value="CA">California</option>
              <option value="NV">Nevada</option>
              <option value="OR">Oregon</option>
              <option value="WA">Washington</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Colaborador*</label>
          <div class="col-sm-10">
            <select multiple chosen="{width: '240px'}">
              <option value="AK">Alaska</option>
              <option value="HI">Hawaii</option>
              <option value="CA">California</option>
              <option value="NV">Nevada</option>
              <option value="OR">Oregon</option>
              <option value="WA">Washington</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Local*</label>
          <div class="col-sm-10">
            <select multiple chosen="{width: '240px'}">
              <option value="AK">Alaska</option>
              <option value="HI">Hawaii</option>
              <option value="CA">California</option>
              <option value="NV">Nevada</option>
              <option value="OR">Oregon</option>
              <option value="WA">Washington</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Inicio*</label>
          <div class="col-sm-10">
            <input ng-model="data.data" class="form-control" type="text" ui-mask="99:99:99" ng-pattern="/^[0-9]{1,7}[-\.\/]?+$/" style="width:100px">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Final*</label>
          <div class="col-sm-10">
            <input ng-model="data.data" class="form-control" type="text" ui-mask="99:99:99" ng-pattern="/^[0-9]{1,7}[-\.\/]?+$/" style="width:100px">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <input ng-model="data.data" class="form-control" type="text" style="width:100px" placeholder="Duração">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            <p class="help-block mb-0">Example block-level help text here.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <textarea class="form-control">
            </textarea>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="ok()"><i class="fa fa-arrow-right"></i> Submit</button>
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
  </div>
</script>
